div.post-page div.image {
  max-height: 300px;

  display: flex;
  overflow: hidden;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  color: #aaa;
  margin: 10px 0;
}
div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

div.post-page h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 20px;
}

div.content p {
  line-height: 2.5rem;
  margin: 15px 0;
}

div.content li {
  margin-bottom: 10px;
}
