div.post-page div.image {
  max-height: 300px;

  display: flex;
  overflow: hidden;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  color: #aaa;
  margin: 10px 0;
}
div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

div.post-page h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 20px;
}

div.content p {
  line-height: 2.5rem;
  margin: 15px 0;
}

div.content li {
  margin-bottom: 10px;
}

div.row-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

div.row {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

div.post-page .btn {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
}

div.post-page svg {
  height: 20px;
}

div.content img {
  max-width: 680px;
}
