:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-black: #0f0f0f;
  --main-gray: #2f3031;
  --light-gray: #595c60;
  --light-blue: #86c3ff;
  --light-red: #ee7c7c;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
}

h1,
h2,
p {
  color: var(--main-black);
  font-size: 1.4rem;
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}

/** START HEADER **/

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 10px;
  align-items: center;
  font-size: 2rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}

/** END HEADER **/

/** START POST **/
div.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
}

div.post div.text h2 {
  font-size: 1.8rem;
  margin: 0;
}

/** END POST **/

div.post p.info {
  margin: 6px 0;
  color: var(--light-gray);
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}

div.post p.info a.author {
  color: var(--main-gray);
}

div.post p.summary {
  font-size: 1.5rem;
  margin: 10px 0;
  line-height: 2.6rem;
}
